<section id="heading 1">
    <div class="container-fluid start-part">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 h1-text">
              <h1 id="h1-enjoy">ENJOY WITH US THE BEST WEBSITE FOR MAKING ANY TYPE OF COCKTAIL 🍸</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 h1-text">
              <!--slider-->
              <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  <div class=" item carousel-item active">
                    <img src="styles/images/cock1.jpg" class="d-block w-100" alt="XNJjn">
                  </div>
                  <div class="carousel-item">
                    <img src="styles/images/cock2.jpg" class="d-block w-100" alt="k">
                  </div>
                  <div class="carousel-item">
                    <img src="styles/images/cock3.jpg" class="d-block w-100" alt="zju">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
        </div>
    </div>
</section>
