<section id="cards">
    <h1 id="h1-cards">WE HAVE DIFFRENT TYPES OF FLAVOURS 🥤</h1>
    <div class="fluid-container card-font">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <img id="img-size" src="styles/images/card1.jpg" alt="">
                <h3>Lemon And Mint <br> Margrita</h3>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <img id="img-size" src="styles/images/card2.jpg" alt="">
                <h3>Tropical Mouth Watering Fruits</h3>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <img id="img-size" src="styles/images/card3.jpg" alt="">
                <h3>Orange Tropicano And Mint</h3>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <img id="img-size" src="styles/images/card4.jpg" alt="">
                <h3>Mint Margarita With The Topping Of Lemons</h3>
            </div>
        </div>
    </div>
    <div class="fluid-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div style="margin-top: 70px;">
                    <div class="upper-section-card">
                        <h3 style="font-size: 3rem;">And Much More Interesting Flavours 😋</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</section>