<%- include("header.ejs") %>

<body>
    <%- include("navbar.ejs") %>

    <section id="contact-success">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Thank You, <%= name %>!</h2>
                    <p>Your contact submission was successful. We will get in touch with you shortly.</p>
                </div>
            </div>
        </div>
    </section>

    <%- include("footer.ejs") %>
</body>
